<p>
  Hi
  <b>{{username}}</b>,
  <br />

  <br />Your OTP for verifying forgot password is
  <b>{{otp}}</b><br />

  <br />Do not share this with anyone.<br />

  <br />For any queries please contact us<br />

  <br />Best<br />

  Team ATP
</p>